.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem;
  z-index: 1000;
  background-color: white;

  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  color: var(--vp-c-text-1);

  .navbar-brand {
    a {
      color: var(--vp-c-text-1);
      text-decoration: none;
      font-size: 2rem;
    }
  }

  .navbar-expand {
    display: none;
    gap: 1rem;

    // Apply styles to .navbar-brand within .navbar-expand when the media query is active
    @media (max-width: 768px) {
      display: flex;

      .navbar-brand {
        a {
          color: #ff0000; // Example: Change the color to red
          font-size: 1.5rem;
        }
      }
    }
  }

  .navbar-nav {
    list-style: none;
    display: flex;
    gap: 1rem;

    li {
      button {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        text-align: center;
        padding: 8px;
      }

      button:hover {
        background-color: var(--vp-c-bg-alt);
        border-color: var(--vp-c-bg-alt);
        border-radius: 5px;
      }
    }
  }
}

// Responsive styles
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav {
    flex-direction: column;
    gap: 0.5rem;
  }
}

// Search bar

.search-container {
  position: relative;
  width: 100%;
  max-width: 400px; /* Adjust as needed */
  min-width: 300px;

  input {
    color: #4f4e4e; /* Hover text color */
  }
}

.search {
  width: 100%;
  padding: 8px 12px;
  padding-right: 30px; /* Make room for the icon */
  border: 1px solid #ccc;
  border-radius: 30px;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #757575;
}

@media (max-width: 768px) {
  .search-container {
    max-width: 100%;
  }
}
